body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'Aurebesh' Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src:  
    local('Arubesh'),
    local('Arubesh-Regular'),
    url(./fonts/Aurebesh.otf) format('opentype');
}

html {
  font-family: 'Aurebesh';
}